.home_section {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 5%;
    width:100%;
    height:auto;
    min-height: 100vh;
}

.overlay {
    position: relative;
    z-index: 1;
    color: white; /* Adjust text color */
    text-align: center;
    padding: 0;
    height: auto;
    margin-top: 15%;
}

@media only screen and (min-width:700px) {
  
}

@media only screen and (min-width:900px) {
   
}

@media only screen and (min-width:1300px) {
    .home_section {
        background-size: cover;
    }
    .overlay {
        padding: 0;
        margin-top: 23%;
    }
}