.blog-section {
    margin: 0;
    padding: 5%;
    width:100%;
    height:auto;
    min-height: 100vh;
    padding-top: 17vh;
}

.blog-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border: 1px solid white;
    background: transparent;
    width: auto;
    min-width: 20vh;
    min-width: 30vh;
    margin: auto;
    padding: 0;
  }
  
  .blog-navbar li {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
  }

  .blog-navbar li:last-child {
    border-bottom: none;
  }
  
  .blog-navbar li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    margin: 0;
    text-transform: uppercase; 
  }
  
  .blog-navbar li a:hover {
    background: white;
    color: black;
    border-color: white;
  }

  .blog-navbar-active {
    background: white;
    color: black !important;
    border-color: white;
  }
  .blog-navbar-active a {
    color: black !important;
  }

  @media only screen and (min-width:720px) {

  }

  @media only screen and (min-width:1300px) {
    .blog-navbar {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 700px;
    }

    .blog-navbar li {
        width: 33.33%;
        border-right: 1px solid #fff;
    }
    .blog-navbar li:last-child {
        border-right: none;
    }
  }