.rotate-object {
    animation: rotate 2s linear infinite; /* Adjust time & speed */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-once {
    animation: rotate_once 2s ease-in-out forwards;
}

@keyframes rotate_once {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

