.container-fluid{
    padding: 0px;
    margin: 0;
    padding: 0;
}

.section_tittle_div {
    background: url('./../images/content/default-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
    padding: 0px;
    margin: 0;
    padding: 0;
    margin: 0;
    padding:20px 0 50px 0;
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;  /* Center everything */
    gap: 10px;  /* Space between icons and text */
}

.section_tittle_div .icon {
    width: 12vh;  /* Adjust size */
    height: auto;
}
.section_tittle_div h1 {
    text-transform: uppercase;
    font-size: 2vh;
}
.section_tittle_div .left-icon {
    margin-right: -2vh;  /* Space between left icon and text */
}

.section_tittle_div .right-icon {
    margin-left: -2vh;  /* Space between right icon and text */
}

.home_section, .services_section, .featured_build_section, .blog_section, .shop_here_section, .service_center_section, .merch_section, .powered_by_section, .contact, .footer_section {
    margin: 0;
    padding:20px 0 50px 0;
    width:100%;
    height:auto;
    min-height: 100vh;
}

.small_desc_div {
    padding: 5vh;
    color: aliceblue;
    text-align: center;
}

.small_desc_div p {
    font-size: 1.8vh;
}

.footer_section {
    background: url('./../images/content/default-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
@media only screen and (min-width:720px) {
    .section_tittle_div .icon {
        width: 15vh;  /* Adjust size */
        height: auto;
    }
    .section_tittle_div .left-icon {
        margin-right: -3vh;  /* Space between left icon and text */
    }
    
    .section_tittle_div .right-icon {
        margin-left: -3vh;  /* Space between right icon and text */
    }
}
@media only screen and (min-width:1300px) {
    .section_tittle_div, .footer_section  {
        background-size: cover;
    }
    .section_tittle_div {
        min-height: 20vh;
    }
    .section_tittle_div h1 {
        text-transform: uppercase;
        font-size: 5vh;
    }
    .section_tittle_div .icon {
        width: 40vh;  /* Adjust size */
        height: auto;
    }
    .section_tittle_div .left-icon {
        margin-right: -5vh;  /* Space between left icon and text */
    }
    
    .section_tittle_div .right-icon {
        margin-left: -5vh;  /* Space between right icon and text */
    }
    .small_desc_div {
        text-align: left;
        padding-left: 10vh;
    }
   
}
