
.home_section {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the background */
    transform: translate(-50%, -50%);
    z-index: -1;
}
.overlay {
    position: relative;
    z-index: 1;
    color: white; /* Adjust text color */
    text-align: center;
    padding: 2vh;
    height: auto;
    margin-top: 70%;
}



.services_section {
    background: url('./../images/content/default-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.featured_build_section {
    background: url('./../images/content/featured-build-bg.jpg') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.blog_section {
    background: url('./../images/content/default-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.shop_here_section {
    background: url('./../images/content/default-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.service_center_section {
    background: url('./../images/content/service-center-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.merch_section {
    background: url('./../images/content/merch-bg.jpg') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.powered_by_section {
    background: url('./../images/content/default-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}

@media only screen and (min-width:1000px) {
    .home_section, .services_section, .featured_build_section, .blog_section, .shop_here_section, .service_center_section, .merch_section, .powered_by_section {
        background-size: cover;
    }
    .overlay {
        padding: 0;
        margin-top: 23%;
    }
}


