
.home_section {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the background */
    transform: translate(-50%, -50%);
    z-index: -1;
}
.overlay {
    position: relative;
    z-index: 1;
    color: white; /* Adjust text color */
    text-align: center;
    padding: 0;
    height: auto;
    margin-top: 15%;
}
.autobot-bg-row {
    display: block;
}

.autobot-bg {
    width:30vh;
    height: auto;
}



.services_section {
    background: url('./../images/content/default-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}

.service-box-col {
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Hide overflow */
    height: 20vh;
}
.service-box-col img {
    max-width: 100%; /* Ensure image scales within the container */
    height: auto;
}

.services-overlay {
    position: absolute; /* Make it overlay the image */
    top: 40%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; /* Ensure it's above the image */
    display: flex; 
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.featured_build_section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 0;
}

.fb-overlay {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0;
    height: 100vh;
    margin-top: 0%;
    margin-bottom: 30%;
    height: 100%;
}

.blog_section {
    background: url('./../images/content/default-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.blog-outer-div {
    height: auto;
    max-height: 170vh;
    overflow:hidden;
}
.blog-first-div {
    position: relative;
}

.blog-overlay {
    position: relative;
    z-index: 1;
    color: white; /* Adjust text color */
    text-align: center;
    padding: 0;
    height: auto;
    margin-top: 30%;
    margin-bottom: 30%;
}

.blog-right-box {
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Hide overflow */
}
.first-blog-img {
    position: absolute;
}
.blog-right-box img {
    max-width: 100%; /* Ensure image scales within the container */
    height: auto;
}

.blog-overlay-2 {
    position: absolute; /* Make it overlay the image */
    top: 5%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; /* Ensure it's above the image */
}

.shop_here_section {
    background:black;
    width: 100%;
    height: auto;
    padding: 2vh;
    margin: 0;
}


.service_center_section {
    background: url('./../images/content/service-center-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.merch_section {
    background: url('./../images/content/merch-bg.jpg') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
    margin: 0;
    padding:20px 0 0 0;
    min-height: 100vh;
    
}

.merch_row {
    width:100%;
    height:auto;
    min-height: 100vh;
    
}
.merch_col {
    margin: 20vh 0 0 0;
    padding: 0;
}
.merch_img {
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 0;
    z-index: 0;
}
.merch-box-col {
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden;
}

.merch-overlay {
    position: absolute; /* Make it overlay the image */
    top: 45%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; /* Ensure it's above the image */
    display: flex; 
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.merch_btn {
    border: 3px solid #fff;
    font-size: 36px;
    color: #fff;
    padding: 1vh 3vh 1vh 3vh;
    text-decoration: none;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.merch_btn:hover {
    color: #000; /* Makes text invisible */
    background: white; /* Background turns white */
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}




.powered_by_section {
    background: url('./../images/content/default-bg.png') no-repeat center;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.ph_map {
    width: 50vh;
    height: auto;
}

@media only screen and (min-width:700px) {
  
}

@media only screen and (min-width:900px) {
    .merch_row {
        max-height: 100vh;
        overflow:hidden;
    }
}

@media only screen and (min-width:1300px) {
    .home_section, .services_section, .blog_section, .shop_here_section, .service_center_section, .merch_section, .powered_by_section {
        background-size: cover;
    }
    .overlay {
        padding: 0;
        margin-top: 23%;
    }
    .autobot-bg-row {
        display: none;
    }
    .service-box-col {
        height: 30vh;
    }

    .featured_build_section {
        height: 115vh;
    }

    .blog-outer-div {
        max-height: 125vh;
    }
    .blog-right-box img {
        margin-top: -5%;
    }
    .blog-overlay {
        margin-top: 50%;
    }
    .blog-overlay-2 {
        margin-top: 10%;
    }
    .ph_map {
        width: 100vh;
    }
    .merch_row {
        max-height: 140vh;
        overflow:hidden;
    }
    
}


