header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 2rem;
  position: fixed;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

nav a {
  margin: 0 2rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #888a8c; 
}

nav a:hover {
  color: red;
}

nav .autobot-ico {
  width: 3rem;
  height: auto;
}

header .nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: aliceblue;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.open-btn-div {
  display: none;
}

.autobot-router-link {
  display: block;
  margin: 0 30px 0 30px ;
}
.scrolled {
  background: rgba(0, 0, 0, 0.85);
  padding: 10px 20px;
  animation: fadeIn 0.3s ease-in-out;
}
.scrolled nav a {
  color: white;
  animation: fadeIn 0.3s ease-in-out;
  text-shadow: none;
}

.scrolled nav a:hover {
  color: red;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1300px) {

  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    transition: 0.5s;
    transform: translateY(-100vh);
    opacity: 0.90;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    color: aliceblue;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    text-shadow: none; 
  }

  .open-btn-div {
    display: block;
  }

  .open-btn-div .nav-open-btn {
    float: right;
  }

  .autobot-router-link {
    display: none;
  }
  
}