.project_build_section {
    margin: 0;
    padding: 5%;
    width:100%;
    height:auto;
    min-height: 100vh;
    padding-top: 17vh;
}
.project_build_section h4 {
    margin-bottom: 5vh;
}

.image-container {
    columns: 3 250px;
    gap: 15px;
    }
  
  .image-container a {
    display: block; /* Makes the <a> behave like a container */
    width: 100%;
    margin-bottom: 15px;
    text-decoration: none; /* Optional: removes underline */
  }
  
  .image-container a img {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }

  .image-container a img:hover {
    opacity: 0.7;
  }