.project_unit_section {
    margin: 0;
    padding: 5%;
    width:100%;
    height:auto;
    min-height: 100vh;
    
}

.gallery-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to break into new rows */
    gap: 10px; /* Adds spacing between images */
}

.lg-img, .lg-img-1 {
    width: 100%;
    height: auto;
    cursor: pointer;
}
@media only screen and (min-width:700px) {

}
@media only screen and (min-width:1300px) {
    .project_unit_section {
        min-height: 115vh;
    }
    .lg-img-1 {
        width: 50%;
        height: auto;
    }
    .lg-img {
        width: 15%;
        height: auto;
        margin-top: 0; /* Ensures no top margin */
    }
   

}