.services_home_section {
    background-color: black;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}

.services_home_section {
    margin: 0;
    padding: 0;
    width:100%;
    height:auto;
    min-height: 100vh;
}

.services_home_section {
    background-color: black;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
    padding: 1vh 2vh 2vh 2vh;
}

.services_content_section {
    background-color: #d9d9d9;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
    padding: 1vh 2vh 2vh 2vh;
    min-height: 100vh;
}

.services-row-div {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.srvcs-span-div {
    padding-bottom: 5vh;
}

.services-carousel-div {
    overflow: hidden;
    height: auto;
}

.services-p {
    font-size: 24px;
}

.services-book-btn {
    font-size: 24px;
}
.partners-logo {
    height: auto;
    width: 7vh;
    margin-right: 2vh;
}

@media only screen and (min-width:1000px) {
    .services_home_section {
        background-size: cover;
    }
    .services_home_section {
        padding: 10vh 20vh 20vh 20vh;
    }
    .services_content_section {
        padding: 10vh 20vh 20vh 20vh;
    }
    .services-carousel-div {
        max-height: 75vh;
    }
    .partners-logo {
        height: 5vh;
        width: auto;
    }
}