.slider-container {

}
.slider-container .slide-item {
    background-color: green;
    padding: 10px;
    margin: 0 10px; /* Adjust spacing between slides */
}

.product-bg {
    background-color: #fff;
    width: 100%;
    height: 32vh;
    overflow: hidden;
}

.product-bg img {
    width: 100%;
    height: auto;
}

.product-name {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.product-name:hover {
    text-decoration: underline;
}

.product-link {
    text-decoration: none;
}

@media only screen and (min-width:1300px) {
    .product-bg {
        height: 42vh;
    }
}