@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

body{
  padding: 0;
  margin: 0;
  background: #000;
  font-family:  'Montserrat', sans-serif;
  color: #fff;
}
html, body {
    height: 100%;
}

.black_btn {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 1.3vh 3vh 1.3vh 3vh;
  border-radius: 10vh;
}

.black_btn:hover {
  color: red;
}

.transparent_black {
  background-color: rgba(0, 0, 0, 0.5);
}