@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

body{
  padding: 0;
  margin: 0;
  background: #000;
  font-family:  'Montserrat', sans-serif;
  color: #fff;
}
html, body {
    height: 100%;
}

.black_btn {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 1.3vh 3vh 1.3vh 3vh;
  border-radius: 10vh;
}

.black_btn:hover {
  background-color: #D9D9D9;
  color: #000;
}

.red_btn {
  text-decoration: none;
  background-color: red;
  color: #fff;
  padding: 1.3vh 3vh 1.3vh 3vh;
  border-radius: 10vh;
}

.red_btn:hover {
  background-color: #D9D9D9;
  color: red;
}

.transparent_black {
  background-color: rgba(0, 0, 0, 0.6);
}

.sp-wide {
  padding: 1vh 10vh 1vh 10vh;
}
 /* Margins Mobile */
 .margin-t-sm-10 {
  margin-top: 10%;
}
.margin-t-sm-20 {
  margin-top: 20%;
}
.margin-t-sm-30 {
  margin-top: 30%;
}
.margin-t-sm-40 {
  margin-top: 40%;
}
.margin-t-sm-50 {
  margin-top: 50%;
}
.margin-t-sm-60 {
  margin-top: 60%;
}
.margin-t-sm-70 {
  margin-top: 70%;
}
.margin-t-sm-80 {
  margin-top: 80%;
}
.margin-t-sm-90 {
  margin-top: 90%;
}
.margin-t-sm-100 {
  margin-top: 100%;
}
/* End Margin */

@media only screen and (min-width:1000px) {
  /* Margins */
  .margin-t-10 {
    margin-top: 10%;
  }
  .margin-t-20 {
    margin-top: 20%;
  }
  .margin-t-30 {
    margin-top: 30%;
  }
  .margin-t-40 {
    margin-top: 40%;
  }
  .margin-t-50 {
    margin-top: 50%;
  }
  .margin-t-60 {
    margin-top: 60%;
  }
  .margin-t-70 {
    margin-top: 70%;
  }
  .margin-t-80 {
    margin-top: 80%;
  }
  .margin-t-90 {
    margin-top: 90%;
  }
  .margin-t-100 {
    margin-top: 100%;
  }
/* End Margin */
}
